html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    height: 100%;
}

.header,
.button-container {
    margin-bottom: 60px;
}

button,
button:focus,
button:active,
{
outline: 0;
}

button {
    background: rgba(255, 255, 255, 0.3);
}

select {
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    background: transparent;
    outline: 0;
    width: 100%;
}

select option {
    background: #fff;
    color: #000;
    text-align: left;
}

.home {
    background-image: url(../img/cover.jpg);
    background-size: cover;
    background-position: bottom center;
    min-height: 95vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    padding: 20px 0;
    text-align: center;
}

.container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.button {
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
}

.button:hover {
    background: rgba(255, 255, 255, 0.4);
}

.button:not(:first-child) {
    margin-left: 20px;
}

.result-container {
    margin: 0 0 120px 0;
    width: 100%;
}

.inline-form {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.form-item {
    padding: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    background: #ffffff1c;
    width: 100%;
    padding: 12px 0;

}

@media only screen and (max-width: 600px) {
    .button {
        display: block;
    }

    .button:not(:first-child) {
        margin-left: 0;
        margin-top: 30px;
    }

    .inline-form {}

}